* {
  padding: 0;
  margin: 0;
}

.main {
  display: inline-flex;
}

.wrapper-left {
  background: #39a0ed;
  width: 176px;
  height: 100vh;
}

.wrapper-right {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  width: 100vw;
  height: 100vh;
}

.text {
  margin: 13px 32px 26px;
}

.title {
  font-family: Suez One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 31px;

  color: #32322c;

  margin-bottom: 17px;
}
.description {
  font-family: Suez One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 17px;

  color: #32322c;
}

.card-table {
  width: 66.5rem;
  height: 31rem;
  display: flex;
  flex-direction: row;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 16px;
  margin-left: 32px;
}

.header-temperatura-asfalto {
  display: flex;
  margin-left: 10px;
  margin-top: 20px;

  font-family: Suez One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 14px;

  color: #32322c;
}
.header-temperatura-asfalto p {
  margin-top: 5px;
  margin-left: 10px;
  font-family: Suez One;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 14px;
  margin-bottom: 50px;
  color: #32322c;
}

.navegacao-dashboard {
  display: flex;
  margin-top: 10px;
  background-color: #39a0ed;
  border-radius: 10px 0px 0px 10px;
  width: 100%;
  height: 36px;
  align-items: center;
}
.navegacao-dashboard a {
  text-decoration: none;
  color: #fff;
}

.navegacao-dashboard i {
  color: #fff;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 2px;
}

.navegacao-dashboard p {
  position: absolute;
  margin-top: 7px;
  margin-left: 35px;
  width: 44px;
  height: 15px;

  font-family: Suez One;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 13px;

  color: #fff;
}

.navegacao-dashboard:hover {
  background-color: #fff;
  transition: 0.5s;
}
.navegacao-dashboard:hover .fas {
  color: #39a0ed;
}
.navegacao-dashboard:hover p {
  color: #39a0ed;
}
.navegacao-dashboard:hover a {
  color: #39a0ed;
}

.navegacao-tabela {
  display: flex;
  margin-top: 10px;
  border-radius: 10px 0px 0px 10px;
  background-color: #fff;
  width: 100%;
  height: 36px;
  align-items: center;
}
.navegacao-tabela i {
  color: #39a0ed;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 2px;
}
.navegacao-tabela a {
  text-decoration: none;
  color: #39a0ed;
}

.navegacao-tabela p {
  position: absolute;
  margin-top: 7px;
  margin-left: 38px;
  width: 44px;
  height: 15px;

  font-family: Suez One;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 13px;
  color: #39a0ed;
}

.imagem {
  position: absolute;
  bottom: 0;
}
.imagem img {
  width: 150px;
}

.development-by {
  width: 100%;
  display: flex;
  justify-content: center;

  font-family: Suez One;
  color: #32322c;
  font-size: 10px;
}
.development-by p a {
  text-decoration: none;
  color: #39a0ed;

  font-family: Suez One;
}

@media (max-width: 768px) {
  .main {
    display: inline-flex;
    flex-direction: column;
  }
  .wrapper-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #39a0ed;
    width: 655px;
    height: 100px;
  }
  .navegacao-dashboard {
    display: none;
    background-color: none;
  }

  .imagem {
    position: relative;
    right: 0;
    top: 0;
  }
  .imagem img {
    width: 150px;
  }
  .content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .wrapper-right {
    width: 655px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
  }
  .card-table {
    width: 30.5rem;
    height: 33rem;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 16px;
    margin-bottom: 18px;
  }
  .card-temp i {
    font-size: 4rem;
  }
  .info div p {
    font-size: 1.3rem;
  }
  .local p {
    font-size: 1rem;
  }
  .local i {
    font-size: 4rem;
  }

  .temperature span {
    font-size: 8rem;
  }
  .text {
    margin: 55px 32px 42px;
  }
}

@media (max-width: 414px) {
  .main {
    display: inline-flex;
    flex-direction: column;
  }
  .wrapper-left {
    display: flex;
    flex-direction: row;
    align-items: center;

    background: #39a0ed;

    width: 414px;
    height: 100px;
  }
  .header-temperatura-asfalto p {
    line-height: 14px;
  }
  .navegacao-dashboard {
    display: none;
    background-color: none;
  }
  .navegacao-tabela {
    display: none;
    background-color: none;
  }

  .imagem {
    position: relative;
    right: 0;
    top: 0;
  }
  .imagem img {
    width: 150px;
  }
  .content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .wrapper-right {
    width: 414px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 140vh;
  }
  .card-table {
    width: 18.5rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 16px;
    margin-bottom: 17px;
  }
  .card-temp i {
    font-size: 3rem;
  }
  .info div p {
    font-size: 1rem;
  }
  .local p {
    font-size: 0.7rem;
  }
  .local i {
    font-size: 3rem;
  }
  .temperature span {
    font-size: 6rem;
  }
  .text {
    margin: 55px 32px 42px;
  }
  .title {
    font-size: 1.5rem;
  }
  .description {
    font-size: 1rem;
  }
}
